html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding: 3px 10%;
}

.faicon {
    position: absolute;
    top: 50%;
    left: 10px; 
    transform: translateY(-50%);
    color: black; 
    pointer-events: none; 
}

.inputawesome{
    padding-left: 2rem;
}